{%extends 'base.html'%}
{% block title%}Blogi {{post.title}} {%endblock%}
{% block content%}
  <h1>{{ post.title}}</h1>
  <br/>
  <h4>{{post.author.first_name}}  {{post.author.last_name}}</h4><br/>
   <strong>{{post.kategoria}}</strong><br/>
  {{post.julkaisu}}<br/>
  <p>{{post.body}}</p>

  <a href="{% url 'home' %}" class="btn btn-success">Etusivu</a>
  {% if user.is_authenticated %}
  <a href="{% url 'paivita' post.pk%}" >Päivitä</a>
  <small> <a href="{% url 'poista' post.pk%}" >Poista</a></small>
  {%endif%}
  {%endblock%}