{%extends 'base.html'%}
{% block title%}Blogi {{post.title}} {%endblock%}
{% block content%}
  <h1>{{ post.title}}</h1>
  <br/>
  <h4>{{post.author.first_name}}  {{post.author.last_name}}</h4><br/>
   <strong>{{post.kategoria}}</strong><br/>
  {{post.julkaisu}}<br/>
   <p>{{ tykkaykset_yhteensa }}  Tykkäystä</p><br/>
  <p>{{post.body}}</p>

  <a href="{% url 'home' %}" class="btn btn-success">Etusivu</a>
  <br/><br/>
  <hr>
  <br/>
  {% if user.is_authenticated %}
  <form action="{% url 'like_post' user.pk %}" method="POST">
    {% csrf_token %}
  {% if liked %}
  <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btn-sm">En Tykkää</button>
  {% else %}
  <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-success btn-sm">Tykkää</button>
  {% endif %}
  </form>
  <hr><br/>
  {% endif %}
  {% if user.is_authenticated %}
  {% if user.id == post.author.id %}
  <a href="{% url 'paivita' post.pk%}" >Päivitä</a>
  <small> <a href="{% url 'poista' post.pk%}" >Poista</a></small>
  {%endif%}
  {%endif%}
  {%endblock%}