{%extends 'base.html'%}
{% block title%}Blogin Kirjoitus {%endblock%}

{% block content%}
{{context}}
{% if user.is_authenticated %}
  <h1>Blogin teko</h1>
  <div class="mb-3">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-success">Julkaise</button>
  </form>
</div>
<!--  Piiloittaa author valikon jotta kirjautunut merkataan kirjoittajaksi -->
<script>
  var nimi = "{{ user.id }}";
  document.getElementById("id").value = nimi;
</script>
{%else%}
    <a href="{% url 'rekisteroi'%}" class="btn btn-primary btn-sm">Rekisteröi</a>
    <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Kirjaudu</a>
{%endif%}
{%endblock%}