{%extends 'base.html'%}

{% block content%}
<br/>
<h1>Blogit</h1>
  <ul>
  {% for post in object_list %}
    <li><h4><a href="{%url 'artikkeli' post.pk%}">{{post.title}}</a></h4>kirjoittanut 
    <strong>{{post.author.first_name}} {{post.author.last_name}}</strong><br/>
    Kategoria - <a href="{% url 'kategori' post.kategoria|slugify %}"><strong>{{post.kategoria}}</strong></a><br/>
    {{post.julkaisu}}<br/>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <small> <a href="{% url 'paivita' post.pk%}" class="btn btn-primary btn-sm" >Päivitä</a></small>-
    <small> <a href="{% url 'poista' post.pk%}" class="btn btn-primary btn-sm" >Poista</a></small>  <br/>
    <br/>

    </li>
    {%endif%}
    {%endif%}
  {% endfor%}
</ul>
{%endblock%}